
body
{	
	background-color: #fff;	
	color: #4d4d4d;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0; padding: 0;
}

.container
{	max-width: 1010px; }
.container2
{	max-width: 100%; padding: 0 20px;}
.page-app .container
{	max-width: 100%; padding: 0 10px 0 60px; }
*:focus { outline: none !important; text-decoration: none !important; }

.section { padding: 40px 0; }
.section.white { background: #fff; }
.section.gray { background: #f5f5f5; }
.section.orange { background: #ff8b00; }


.btn { padding-left: 17px; padding-right: 17px; }
.btn-default, .btn-default:focus, .btn-primary:hover
{ background: none; border-color: #ff8b00; color: #ff8b00; }
.btn-primary, .btn-primary:focus, .btn-default:hover
{ background: #ff8b00; border-color: #ff8b00; color: #fff; }
.btn-primary:hover
{ background: none; border-color: #ff8b00; color: #ff8b00; }
.btn-black, .btn-black:focus
{ background: #333333; border-color: #333333; color: #fff; }
.btn-black:hover
{ background: none; border-color: #333333; color: #333333; }

.modal-header
{ 
	background-color: #ff8b00; color: #fff;
	border-radius: 5px 5px 0 0;
}
.modal-footer 
{ 
	background: #ebebeb;
	border-radius: 0 0 5px 5px;
}
.modal-sm { min-width: 400px; }

/*----------------------------------------------------------------------------------------------------------*/
header
{	
	background-color: #fff;	
	padding: 10px 0;
}
header .logo  { display: block; }
header .logo > .image, header .logo > .text 
{
	float: left;
	max-height: 78px;
}
header .logo > .text {	padding: 10px 0 0 10px;	}
header .logo > .text > .title
{
	font: 24px 'Open Sans';
	font-weight: bold;
	color: #333333;
}
header .logo > .text > .sub-title
{
	font: 12px 'Open Sans', Arial;
	font-style: italic;
	color: #808080;
}
header .logo > .image > img
{
	max-height: 78px;
	width: auto;
}
/*--------------------------------*/
header > .container2 .logo > .image > img
{
	max-height: 51px;
	width: auto;
}
header > .container2 .logo > .image, header > .container2 .logo > .text 
{
	max-height: 52x;
	margin: 24px 0;
}
header > .container2 .logo > .text {	padding: 0 0 0 10px;	}

/*--------------------------------*/

header .right-group { max-height: 78px; }
header .right-group, header .right-group > div > *
{
	float: right;
	margin-left: 20px;
}
header .xrow:first-child
{ 
	margin-bottom: 12px; 
	margin-top: 5px;
}
header .xrow:first-child > * {	line-height: 24.5px; }
header .xrow:first-child > button
{
	height: 24.5px;
	padding: 0px 10px; font: 11.5px 'Open Sans';
}
header:after, .xrow:after 
{ 
	display: block; content:''; clear: both; 
}

.nav-toggle
{
	width: 100%;
	background: #1a1a1a;
	font-size: 16px;
	padding-top: 0px; padding-bottom: 18px;
	color: #4b4b4b;
	display: none;
}


/*--------------------------------*/
header.header2 { padding: 0; height: 99px;}
.container2 .right-group > div > * { float: none; margin: 0;}
.container2 .right-group > div, .container2 .right-group > span { float: right;}
.right-group .user-info 
{
	display: block;
	float: none;
	margin: 0;
	margin-left: 20px;
	position: relative;
	right: -20px; height: 99px;
	min-width: 300px;
	padding: 15px 0 15px 30px;
	border-left: 1px solid #ececec;
}

.right-group .user-info:focus, .right-group .user-info:hover:not(.details) 
{ background: #ececec; }
.right-group .user-info:focus:not(.details) .info *
{ 
	color: #fff; 
}
.right-group .user-info:focus:not(.details) .image
{ 
	opacity: 0.3; 
}
.right-group .user-info > div { float: left;}
.right-group .user-info > .image 
{
	width: 67px; height: 67px;
	overflow: hidden;
	border-radius: 50px;
	margin-right: 20px;
}
.right-group .user-info.details > .image 
{
	width: 120px; height: 120px;
	overflow: hidden;
	border-radius: 0px;
}
.right-group .user-info > .info
{
	padding-right: 20px;
}
.right-group .user-info.details > .info
{
	width: 216px; 
}
.right-group .user-info > .image > img { width: 105%; height: auto; }
.right-group .user-info > .info > .name 
{
	font: 16px 'Open Sans';
	font-weight: bold;
	margin-top: 10px; margin-bottom: 5px;
	color: #FF8B00;
}
.right-group .user-info.details > .info > .name 
{
	margin-top: 0px;
}
.right-group .user-info > .info > .sub 
{
	font: 13px 'Open Sans';
	font-style: italic;
	color: #666666;
}

.right-group .user-info.details 
{ 
	right: 0px;
	border-left: 0;
	height: auto;
	padding: 20px; margin: 0;
}
.right-group .user-info.details:after { content: ''; display: block; clear: both; }
.dropdown-menu.user 
{ 
	border-radius: 0 0 5px 5px; 
	position: absolute;
	right: -20px;
	border-top: 1px solid #fff;
	min-width: 400px;
}

header.header2 .right-group > span
{ 
	margin: 35px 10px;
}
header.header2 .right-group > span:last-child { line-height: 25px; }

/*--------------------------------*/
.search-box-1 { position: relative; display: inline-block;}
.search-box-1 > input[type="text"]
{
	border: 1px solid #BCBCBC;
	color: #999999;
	width: 180px;
	border-radius: 20px;
	padding: 3px 15px;
	font-size: 12px;
	transition: all 0.3s;
}
.top-bar .search-box-1 > input[type="text"] { border: 1px solid #E88000; margin-left: 15px;}
.search-box-1 > input[type="text"]:hover, .search-box-1 > input[type="text"]:focus  { border-color: #ff8b00; }
.search-box-1 > button
{
	position: absolute;
	right: 5px; top: 0px;
	font-size: 12px;
	border: none;
	background: none;
	height: 24px;
	color: #808080;
	transition: all 0.3s;
}
.search-box-1 > button:hover { color: #ff8b00; }
.search-box-1 > button:active { color: #afcc45; }

.round-icon
{
	display: inline-block;
	padding: 2px 0;
	height: 25px;
	width: 25px;
	text-align: center;
	border-radius: 20px;
	background: #ff8b00;
	border: 1px solid #ff8b00;
	font-size: 14px;
	color: #fff;
	transition: all 0.3s;
}
.round-icon:hover { background: none; color: #ff8b00}
.round-icon2
{
	display: inline-block;
	padding: 2px 0;
	height: 20px;
	width: 20px;
	text-align: center;
	border-radius: 20px;
	background: #4d4d4d;
	font-size: 12px;
	color: #fff;
	transition: all 0.3s;
}

.login-form  { margin: 30px 0; }
.login-form input
{
	margin: 10px auto;
	width: 200px;
	padding-left: 30px;
}
.forgot
{
	font: 12px 'Open Sans';
	color: #9ebb33;
}
.icon-input
{ position: relative; width: 200px; margin: 0 auto; color: #808080;}
.icon-input > i 
{
	position: absolute;
	left: 10px; top: 9px;
}



/*----------------------------------------------------------------------------------------------------------*/

.main1 
{
	background-color: #ff8b00;
	background-image: url('../images/pattern1.png');
	background-repeat: repeat-x;
	height: 520px;
	box-shadow:  0px 1px 0px #c36a00 inset;
}
.hero 
{
	margin: -505px 0 30px 0;
	background: #333333;
}
.list-menu 
{
	width: 100%;
	list-style: none;
	padding: 0px;
}
.list-menu > li 
{
	border-top: 1px solid #3A3A3A;
	background: #333333;
	position: relative;
}
.list-menu.app-list > li 
{
	border-top: 1px solid #373737;
	background: #2d2d2d;
}
.list-menu > li:hover 
{
	background: #1a1a1a;
	border-top: 1px solid #1a1a1a;
}
.list-menu > li > a
{
	display: block;
	color: #888888;
	padding: 10px 5px 10px 40px;
	font: 13px 'Open Sans';
}
.list-menu.app-list > li > a
{
	display: block;
	color: #e6e6e6;
	padding: 15px 5px 15px 40px;
	font: 14px 'Open Sans';
}
.list-menu.app-list > li > a > i { margin-right: 10px; }
.list-menu.app-list > li.main-header > i 
{ 
	position: absolute;
	top: 0px; left: 0px;
	display: inline-block;
	border-right: 1px solid #D97700;
	padding: 22px 24px;
	height: 69px;
}

.list-menu.app-list > li.active > a { color: #afcc45; }
.list-menu.app-list > li.active > a:after
{ 
	content: '\f0da';
	font: 13px 'FontAwesome';
	position: absolute;
	right: 20px; top: 17px;
}
.list-menu > li:hover  > a
{
	text-decoration: none;
	color: #afcc45;
}
.list-menu.app-list > li.separator { height: 35px; border: 0;}
.list-menu > li.main-header
{
	border-bottom: 1px solid #3A3A3A;
	background: #1a1a1a;
	color: #4b4b4b;
	font-size: 16px;
	padding: 18px 5px 18px 30px;
}
.list-menu.app-list > li.main-header
{
	border: 0;
	background: #ff8b00;
	color: #FFFFFF;
	font: 18px 'Arial';
	font-weight: bold;
	padding: 20px 5px 20px 85px;
}
.list-menu.app-list > li.header
{
	border-bottom: 1px solid #3A3A3A;
	background: #333333;
	color: #808080;
	font: 18px 'Open Sans';
	padding: 22px 5px 22px 30px;
}

.hero-right
{ padding-left: 0px; }
.hero-left
{ padding-right: 0px; margin-bottom: -10px; }

.slider
{
	height: 418px;
	background: #000;
}



.section-title { margin-bottom: 40px; }
.section-title.center { text-align: center; }
.section-title > .title
{
	padding: 15px;
	position: relative;
	display: inline-block;
	bottom: -25px;
	font: 16px 'Open Sans';
	font-weight: bold;
}
.section-title.white > .title { background: #fff; }
.section-title > .line 
{
	border-top: 1px solid #bababa;
}




/*------------------------------------------------------------------------*/


.entry
{
	width: 100%;
	display: block;
	position: relative;
	padding: 10px 0;
	margin: 2.5px 0;
	overflow: hidden;
	padding-bottom: 30px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
}
.entry:last-child, .entry.full
{
	border-bottom: none;
}

.entry:after
{
	display: block;
	content: "";
	clear: both;
}
.entry .image
{
	display: block;
	position: relative;
	overflow: hidden;
	margin-right: 10px;
	float: left;
	height: 130px;
	width: 130px;
}
.entry.full .image
{
	float: none;
	width: 100%;
	height: auto;
	max-height: 450px;
	overflow: hidden;
	margin-bottom: 10px;
}
.entry.full .image img
{
	width: 100%;
	height: auto;
}
.entry .body
{
	display: block;
	margin-left: 130px;
	padding: 0px 10px;
	font: 12px 'Arial';
}
.entry.full .body
{
	margin-left: 0px;
	padding: 0px;
}
.entry .body > .more
{
	color: #e77e00;
	font-size: 10px;
}

.entry .title
{
	margin-top: -4px;
	font: 14px 'Open Sans';	
	font-weight: 500;
	padding-bottom: 6px;
}
.entry .title a
{
	color: inherit;
}
.entry .title:hover
{
	color: #000;	
}

.entry .image img
{
	position: relative;
	display: block;
	margin: 0; padding: 0;
}
.entry.full p { font-size: 16px; margin-bottom: 10px; }





/*------------------------------------------------------------------------------------*/



footer
{
	background: #e6e6e6;
	box-shadow:  0px 1px 0px #B6B6B6 inset;
	margin-top: 50px;
}
footer h4 { font-size: 16px; }
.footer-menu 
{
	list-style: none;
	padding: 0;
}
.footer-menu > li > a 
{
	font: 13px 'Open Sans';
	color: #4d4d4d;
}
footer p, footer a, footer span { font: 13px 'Open Sans'; color: #4d4d4d;}
footer span { margin-bottom: 5px; }
footer .sep 
{
	border-left: 1px solid #c7c7c7;
	padding-left: 30px;
}

.copyright
{
	text-align: center;
	font: 11px 'Open Sans';
	color: #808080;
	background: #222222;
	padding: 15px 0;
}
.subscribe { position: relative; }
.subscribe > input[type="text"]
{ 
	width: 150px; 
	padding-right: 30px;
}
.subscribe > i 
{
	position: absolute;
	left: 126px; top: 8px;
	color: #808080;
}
.subscribe > span 
{ font-size: 11px; margin-top: 5px; }








/*-----------------------------------------------------------------------------------------------------------------*/
.app-body 
{
	background: #2d2d2d;
}
.footer-app { margin: 0px; }
.page-app 
{ background: #fff; min-height: 800px;}
.top-bar 
{
	background: #ff8b00;
	height: 43px;
	padding: 10px;
	border-left: 1px solid #D77600;
	position: relative;
}
.top-bar:before 
{
	display: block;
	content: '';
	background: linear-gradient(to right, #f58000, #ff8b00);
	width: 30px; height: 43px;
	position: absolute;
	top: 0px; left: 0px;
	
}

.page-title { background: #fff; margin-bottom: 5px;}
.page-title > .title
{
	background: #fff;
	padding: 0px 30px 30px 0;
	font: 20px 'Open Sans';
	color: #fa8600;
	position: relative;
	display: inline-block;
	left: -20px;
} 
.page-title > .line { border-top: 1px solid #ff8b00; margin-top: -40px;}

.section-title-1
{ 
	background: #616161;   
	position: relative;
	color: #fff; 
	font: 15px 'Arial'; font-weight: bold; 
	padding: 10px 15px;  
	border-radius: 3px;
	margin-right: 30px;
	margin-bottom: 20px;
	overflow: hidden;
}
.section-title-1:after 
{
	display: block;
	content: '';
	background: #ff8b00;
	width: 300px; height: 300px;
	position: absolute;
	top: -150px; right: -180px;
	transform: rotate(45deg);
}
.section-title-1:before 
{
	display: block;
	content: '';
	background: #ff8b00;
	width: 3px; height: 300px;
	position: absolute;
	top: -100px; right: 130px;
	transform: rotate(-50deg);
}


.section-title-2
{  
	color: #616161; 
	font: 22px 'Open Sans'; -font-weight: bold; 
	padding: 10px 0px;  
	margin-right: 30px;
	margin-bottom: 20px;
}

.form-table 
{
	border: 0;
}
.form-table tr, .form-table td
{
	border: 0 !important;
}
.form-table tr td:first-child 
{
	width: 200px;
}
.form-table tr td input, .form-table tr td select, .form-table tr td textarea
{
	max-width: 300px;
}


.slideshow
{
	height: 418px;
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 0px;
	background-position: center center;
}
.slideshow > *
{
	position: absolute;
}
.slideshow .frame
{
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	color: #fff;
	transition: opacity 2s;
	z-index: 1;
}
.slideshow .frame.active
{
	display: block;
	opacity: 1;
	transition: opacity 2s;
	z-index: 2;
}
.slideshow .indicator
{
	display: block;
	width: 100%;
	bottom: 10px;
	padding: 0 20px;
	text-align: right;
	z-index: 3;
}
.slideshow .indicator .bullet
{
	display: inline-block;
	position: relative;
	width: 7px;
	height: 7px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin: 0 5px;
	transition: background 1s;
}
.slideshow .indicator .bullet.active 
{
	background: #fff;
}
.slideshow .indicator .bullet:hover
{
	cursor: pointer;
	background: rgba(255, 255, 255, 0.8);
}
.frame > img
{
	display: block;
	position: absolute;
}
.frame p
{
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
	padding: 10px;
	height: 37px;
	text-shadow: 1px 0 4px #000;
	font: 11px 'Open Sans';
}
.frame p, .frame.active p 
{
	color: #fff;
	transition: All 1s;
	position: absolute;
	bottom: -10px;
}
.slideshow .frame .content { padding: 25px; }


.hero > div > div > .wrapper 
{
	background: #000;
	overflow: hidden;
	position: relative;
	padding: 1px;
}
.thumbnail-slider
{
	margin: 0;
	padding: 2px 0;
	position: relative;
	height: 185px;
	width: 740px;
	overflow: hidden;
	background: #000;
}
.arrow-left, .arrow-right 
{
	width: 30px;
	height: 30px; 
	background: rgba(0,0,0,0.3);
	color: #fff;
	padding: 7px 10px;
	font-size: 10px;
	border: 1px solid #fff;
	border-radius: 50px;
	position: absolute;
	top: 50px;
	transition: all 0.5s;
}
.arrow-left:hover, .arrow-right:hover
{
	background: rgba(0,0,0,0.5);
	cursor: pointer;
}
.arrow-left
{
	left: 10px; 
}
.arrow-right
{
	right: 10px; 
}
.thumbnail-slider > .wrapper 
{
	position: absolute;
	height: 185px;
	width: 3000px;
	overflow-y: hidden;
	left: -0px; top: 0px;
}
.wrapper .item 
{
	float: left;
	position: relative;
	margin: 0 1px;
	width: 183px; height: 183px;
	overflow: hidden;
}
.wrapper .item > img 
{
	height: 100%;
	width: auto;
}
.wrapper .item > .detail
{
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	top: 130px; left: 0px;
	width: 183px; height: 183px;
	color: #CCCCCC;
	font: 11px 'Open Sans';
	padding: 10px 15px;
	transition: top 0.5s, background 1s;
}
.wrapper .item:hover > .detail
{
	top: 0px;
	text-decoration: none;
	background: rgba(255, 139, 0, 0.8);
	color: #FFFFFF;
}
.wrapper .item > .detail > i 
{
	display: block;
	font-size: 0px;
	text-align: center;
	width: 0px; height: 0px;
	border: 1px solid #fff;
	padding: 0px 0;
	border-radius: 50px;
	margin: 20px auto;
	transform: rotate(-1000deg);
	transition: all 1s;
}
.wrapper .item:hover > .detail > i
{
	font-size: 20px;
	width: 50px; height: 50px;
	padding: 14px 0;
	transform: rotate(0deg);
}
.wrapper .item > .detail > span 
{
	display: block;
	text-align: center;
	font-size: 15px;
	position: relative;
	margin-top: 200px;
	transition: margin-top 1.2s, rotate 1s;
} 
.wrapper .item:hover > .detail > span 
{
	margin-top: 0px;
}

.panel-default > .panel-heading{
    background-color: #FF8B00;
    border-color: #FF8B00;
}

.pagination ul{
    display: block-inline !important;
    margin: 10px;
}



@media screen and (max-width : 767px) /*xs*/
{
	.hero-right
	{ padding-left: 15px; }
	.hero-left
	{ padding-right: 15px; margin-bottom: -10px; }
	.nav-toggle{display: block;}
	footer .sep
	{
		padding-left: 15px; border: none;
	}
	.entry .body 
	{ font-size: 14px; }
	.entry .title
	{ font-size: 16px; font-weight: bold; padding-bottom: 10px; }
	.entry .body > .more
	{ font-size: 14px; }
}
@media screen and (min-width : 768px) and (max-width: 991px) /*sm*/
{
	
	.entry .body 
	{ font-size: 14px; }
	.entry .title
	{ font-size: 16px; font-weight: bold; padding-bottom: 10px; }
	.entry .body > .more
	{ font-size: 14px; }
	.container { width: 100%; }
}









